:host {
  flex-basis: 400px;
  flex-grow: 1;
}

legend {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.year {
  font-size: smaller;
}

.week {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.weekdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.weekend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
