@let formattedWeekNo = (weekNo() ?? 0).toString();

<div [formGroup]="week">
  <legend>Vecka {{ formattedWeekNo }}</legend>
  <button class="btn btn-primary mb-3" (click)="removeWeek.emit(parseInt(formattedWeekNo))">Ta bort vecka</button>
  <button class="btn btn-primary mb-3" (click)="toggleWeekends()">
    {{ showWeekends() ? 'Dölj helger' : 'Visa helger' }}
  </button>
  <div class="week">
    <div class="weekdays">
      @for (day of days; track i; let i = $index) {
        @if (day.name !== 'Lördag' && day.name !== 'Söndag') {
          <div>
            <h3>{{ getFormattedDate(i) }}</h3>
            <app-day [formGroup]="day.group"
                     [weekNo]="formattedWeekNo"
                     [dayName]="day.name"></app-day>
          </div>
        }
      }
    </div>
    <!-- Helg (lördag-söndag) -->
    <div class="weekend" [class.d-none]="!showWeekends()">
      @for (day of days; track $index) {
        @if (day.name === 'Lördag' || day.name === 'Söndag') {
          <app-day [formGroup]="day.group"
                   [weekNo]="formattedWeekNo"
                   [dayName]="day.name"></app-day>
        }
      }
    </div>
  </div>
</div>
