.week {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.weekdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.weekend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
